@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");

@theme {
  --font-montserrat: "Montserrat", sans-serif;
}
@custom-variant dark (&:where(.dark, .dark *));

html {
  transition: background-color 0.4s ease, color 0.4s ease;
}

html * {
  transition: background-color 0.4s ease, color 0.4s ease,
    border-color 0.3s ease;
}
.custom-dots {
  position: absolute;
  bottom: 30px;
  width: 100%;
  display: flex !important;
  justify-content: center;
}

.custom-dots li {
  width: auto;
  height: auto;
}

.custom-dots li button {
  padding: 0;
}

.custom-dots li button:before {
  content: "" !important;
}

.custom-dots li.slick-active div {
  background: #ffffff !important;
}
